
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

td {
    vertical-align: middle;
    min-width:100px;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li {
    float: left;
    padding-left:20px;
    font-family:Arial;
    color: white;
}

nav ul li {
    border-left: 1px solid #202020;
    display: inline;
}

p span {
    font-family: "Arial", Verdana, sans-serif;
    font-color:black;
    font-size:12px;
}

/* unvisited link */
a:link {
   text-decoration:underline;
   color:blue;
   font-family: Arial,Verdana,sans-serif;
}

/* visited link */
a:visited {
    color:blue;
    text-decoration:underline;
    font-family: Arial,Verdana,sans-serif;
}

/* mouse over link */
a:hover {
    color:blue;
    text-decoration: underline;
    font-family: Arial,Verdana,sans-serif;
}

/* selected link */
a:active {
    color:navy;
    text-decoration: underline;
    font-family: Arial,Verdana,sans-serif;
}

/* unvisited link */
.fb_link:link {
   text-decoration:none;
   color:white;
   font-family: Arial,Verdana,sans-serif;
}
.fb_link:visited {
   text-decoration:none;
   color:white;
   font-family: Arial,Verdana,sans-serif;
}
/* unvisited link */
.fb_link:hover {
   text-decoration:underline;
   color:white;
   font-family: Arial,Verdana,sans-serif;
}

.fb_link:active {
   text-decoration:underline;
   color:white;
   font-family: Arial,Verdana,sans-serif;
}

.navbar {
   border: 1px solid #E0E0E0;
   border-collapse: collapse;
   border-top: none;
   border-bottom: none;
   text-align: center;
   font-size:15px;
   font-family:Arial;
}

.navbar td {
   text-align:center;
   font-size:15px;
   font-family:Arial;
   color: white;
   min-width:30px;
}

.friends_details_td {
    min-width:460px;
    border:1px solid black;
    text-align:center;
    vertical-align:middle;
    position: relative;
    background-color:#f2f2f2;
}

.active_friends_details_td {
    text-align:left;
}

.friends_details_tr {
    height:150px;
    position:relative;
}

.unfriend {
    background-color: #ccc;
    border-radius:5px;
    color:blue;
    font-family:'Arial';
    font-size:15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    float: right;
    position: absolute;
    top:70px;
    right:50px; 
}

.friend_name {
    margin-left:10px;
    font-family:'Arial';
    font-color:black;
    font-size:15px;
    position: absolute;
    top:70px;
    left:150px;
}

.active_friend_name {
    font-family:'Arial';
    font-color:black;
    font-size:12px;
    margin-left: 5px;
}

.friend_img {
    width:150px;
    height:150px;
    border:1px;
    vertical-align:middle;
    float:left;
    clear: both;
    overflow:hidden;
}

.active_friend_img {
    width:90px;
    height:80px;
    border:1px;
    vertical-align:middle;
    float:left;
    clear: both;
    overflow:hidden;
    display: block;
    margin-top: 5px;
}

.split-para {
    text-align:left;
    display:block;
    margin-left:10px;
    font-color:black;
    font-size:12px;
}

.split-para span { 
    display:block;
    float:right;
    margin-left:10px;
}

#main {
    background-color:#ecf2f9;
}

#fb_bar {
    width:100%;
    height:40px;
    background-color:#336699;
    float:left;
    font-size:12px;
    font-family:Arial;
    color: white;
    margin:0x;
    padding:0;
}

#login_bar {
    margin:0;
    padding: 0;
    width:40%;
    height:80px; 
    float:left;
    background-color:#336699;
}

#top {
    width:100%;
    float:left;
    height:200px;
    background-image:url("http://dl.glitter-graphics.com/pub/362/362453c87ya4kzgs.gif");
    background-attachment: none;
}

#main_nav {
    float:left;
    height:40px;
    border: 0px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    color: white;
    font-family:Arial;
    font-size:20px;
    border-collapse:collapse;
    border-top: none;
}

#profile_pic {
    width:200px;
    float:left;
    height:170px;
    border:0px;
    margin:0px auto;
    margin-top:40px;
    margin-left:15px;
    position:relative;
    border-style:double;
    border:5px solid white;
}

#about_info a {
    color:gray;
    font-size:15px;
    font-family:Arial;
    margin-right:20px; 
}

#about_info ul li {
    margin-top:25px;
    margin-right:10px;
}

#main_nav_bar {
    width:100%;
    height:50px;
    float:left;
    border:thin;
    background-color:white;
}

#about_bar {
    width:100%;
    height:55px;
    float:left;
    margin: 0px auto;
    border: 1px solid #E0E0E0;
    background-color:#E8E8E8;
    position: relative;;
    margin-top: 10px;
}

#about_left_bar {
    width:28%;
    height:600px;
    float:left;
    margin: 0px auto;
    border: 1px solid #E0E0E0;
}

#about_right_bar {
    width:71.5%;
    height:600px;
    float:left;
    margin: 0px auto;
    border: 1px solid #E0E0E0;
}

#friends_details {
    width:99.5%;
    height:1900px;
    float:left;
    margin:0px auto;
    border:1px solid black;
}

#active_details {
    width:25%;
    height:1900px;
    float:left;
    margin:0px auto;
    border:1px solid black;
    background-color:#e6e6e6;
}

#left {
    width:8%;
    height:1900px;
    float:left;
    background-color:#f2f2f2;
}

#middle {
    width:75%;
    height:1900px;
    float:left;
    background-color:#f2f2f2;
}

#right {
    width:17%;
    height:1900px;
    float:left;
    background-color:#f2f2f2;
}

#login {
    font-size:70%;
    font-family:Arial;
    color: white;
}


#search_details {
    border-radius:3px;
    font-size:13px;
    font-family:Arial;
    color: gray;
}

#post {
    background-color:#3973ac;
    border-radius:3px;
    color:white;
    font-family:'Arial';
    font-size:12px;
    text-decoration: none;
    cursor:pointer;
    border:none;
    float:right;
}
